/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.center_home_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.profile-edit-btn {
  border: none;
  outline: none;
  color: gray;
  cursor: pointer;
}
.profile_image {
  width: 80%;
  border-radius: 12rem;
}
.navbar {
  position: sticky;
  top: 0;
}
